*{
    margin: 0;
    padding: 0;
    font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header{
    display: flex;
    padding: 20px;
    padding-left: 40px;
    color: #D6000D;
    justify-content: space-between;
    
}

h1{
    font-weight: 700;
    font-size: 60px;
    font-style: italic;        
}



p{
    color: white;
    margin: 40px; 
    font-size: 25px;
}


.list{
    list-style-type: none;
    display: flex;
    color: black;    
    padding-top: 10px; 
    gap: 5rem;
    font-size: 30px ;
    font-weight: 400;
}

.login{
    text-decoration: none;
    color: white;
    padding: 10px;
    padding-top:5px;
    padding-left: 50px;
    padding-right: 50px;    
    border-radius: 10px;
    background: #D6000D;    
}

.login:hover{
    filter: brightness(1.5);
    transition: 0.5s;
}

.divimg{
    max-width: 550px;    

}


main{
    display: flex;
    flex-basis: 25%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

main > div{
    padding: 0;
    margin: 8rem;
}

#contato{
    display: block;
    justify-content: left;
}

#box{
    margin-top: 30px;
    padding: 7px;
    font-size: 18px;
    padding-left: 50px;
    border-color: transparent;
    background: lightgray;
    padding-right: 50px;
    border-radius: 10px;
}

.depoiments{
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    margin: 40px;

}

.dep{
    display: flex;
    background: lightgray;
    border-radius: 10px;
    justify-content: space-between;
    width: 600px;
    color: #000;
    height: 170px;
}

.dep-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;    
    font-size: 14px;

}

.circle{
    position: relative;
    margin: 20px;
    background-color: #D6000D;
    width: 147px;
    height: 111px;
    border-radius: 50%;
    
}

.footer{
    display: flex;
    background: #000;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.redes-sociais{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 40px;
    margin: 40px;
    cursor: pointer;
    
}






@media screen and (max-width: 1600px){

    main{
        padding: 0;
        margin-left: 0;
    }

    
    .divimg{
        max-width: 400px;        
        
    }

    .footer{

    }


    
}

@media screen and (max-width: 900px){

    .depoiments{
        display: flex;
        flex-direction: column;
        
    }

    .dep{
        max-width:500px ;
    }

    .footer{

        flex-direction: column;
        height: auto;
        width: 100%;
    
      }

    
}

@media screen and (max-width: 800px){


    #logo{
        display: inline-block;
    }


    main>div{
        display: flex;
        margin: 3.5rem;
    }

    .list-contact{
        position: relative;
        top:500px;

    }

    .orc{
        position: absolute;
        margin-top: 200px;
    } 
    


    .code{
        position: relative;
        bottom:450px;
        min-width: 400px !important;
        
    }    

  .list{
      display: flex;
      flex-wrap: wrap;
      list-style-type:none;
  }

  #box{
      padding-right: 13px;
  }

  .call{
      margin-top: 20px;
  }

  .footer{

    flex-direction: column;
    height: auto;

  }
    
}
